div.stat {
	text-align: justify;
	width: 712px;
}

div.stat div { display: inline-block; }

div.stat div.stat-sum {
	font-size: 18px;
	position: relative;
	right: 61px;
	text-align: right;
	width: 100%;
}

div.stat div.stat-sum-text {font-style: italic; }
div.stat div.stat-sites-list { display: table; }
div.stat div.stat-unit:nth-of-type(2n-1) { background-color: #F8F8FF; }

div.stat div.stat-unit div, div.stat div.stat-sites-head div  {
	border: 1px solid lightgray;
	display: table-cell;
	padding: 3px;
}

div.stat div.stat-sites-head { font-weight: bold; }

div.stat div.stat-unit-number {
	text-align: center;
	width: 75px;
}

div.stat div.stat-unit-domain { width: 400px; }

div.stat div.stat-unit-traffic {
	text-align: center;
	width: 215px
}