.elem-hide { display: none; }
#stat-nav { margin-top: 12px; }

#stat-nav span {
	color: #08298A;
    cursor: pointer;
    padding: 3px;
}

#stat-nav span:hover { text-decoration: underline; }

div.stat {
	text-align: justify;
	width: 900px;
}

div.stat div { display: inline-block; }

div.stat div.stat-sum {
	font-size: 18px;
	text-align: right;
	width: 100%;
}
div.stat div.stat-sum-text {
	font-style: italic;
	width: 491px;
}
div.stat div.stat-sum-number {
	text-align: center;
	width: 148px;
}

div.stat div.stat-sum-space { width: 260px; }
div.stat div.stat-unit:nth-of-type(2n-1) { background-color: #F8F8FF; }
div.stat div.stat-unit, div.stat div.stat-sites-head { display: block; }

div.stat div.stat-unit div, div.stat div.stat-sites-head div  {
	border: 1px solid lightgray;
	display: inline-block;
	padding: 3px;
}

div.stat div.stat-sites-head { font-weight: bold; }
div.stat div.stat-sites-head div.stat-unit-traffic,div.stat div.stat-sites-head div.stat-unit-conn { cursor: pointer; }
div.stat div.stat-unit-domain {	width: 400px; }

div.stat div.stat-unit-number {
	text-align: center;
	width: 75px;
}
div.stat div.stat-unit-traffic {
	text-align: center;
	width: 140px;
}
div.stat div.stat-unit-conn {
	text-align: center;
	width: 225px;
}
div.stat div.stat-sites-head div.sort-up,
div.stat div.stat-sites-head div.sort-down,
div.stat div.stat-sites-head div.sort {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	padding: 0;
	width: 0;
}

div.stat div.stat-sites-head div.sort-up { border-bottom: 5px solid gray; }
div.stat div.stat-sites-head div.sort-down { border-top: 5px solid gray; }